.App {
  text-align: center;
  height: 100vh;
  background-image: url("https://c.wallhere.com/photos/75/f9/1920x1200_px_animals_Black_Cats_cats-1097571.jpg!d");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px 0 10px 0;
  border-right: 2px solid #301B3F;
  border-radius: 4px;
}

.form-todo {
  background-color: #151515;
}

.text-todo {
  color: #B4A5A5;
}

.btn-todo {
  background-color: #301B3F;
  color: white
}

.btn-todo:hover {
  color:white;
  background-color: #281735;
}

.input-text-todo {
  background-color: #B4A5A5;
  color: white;
}

.input-text-todo:hover {
  background-color: #9b8a8f;
  
}

.input-text-todo:focus {
  background-color: #9b8a8f;
  color: white;
 
}